{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <div class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="public/1e.jpeg" class="d-block w-100" alt="harbour crane at sunset"  data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="public/2e.jpeg" class="d-block w-100" alt="Indonesia container ship" data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="public/3e.jpeg" class="d-block w-100" alt="Jakarta bay" data-bs-interval="2000">
            </div>
        </div>
    </div>

    <article class="container">
        <h1>Welcome to Asiapac Partners</h1>
        <p>
            AsiaPac Partners is a boutique advisory firm focused on infrastructure and resources in the Asia Pacific region.
        </p>
        <p>
            Operating principally in Australia, Indonesia, Papua New Guinea and other South Asian countries, we act for private sector, government and multilateral lending agency clients, assisting them with the commercial and regulatory aspects of their infrastructure and resource transactions.
        </p>

        <h3>Examples of recent projects</h3>
        
        <p>
        <strong class="strong">Maspion and DP World - Container Terminal and Industrial Zone, Surabaya, Indonesia</strong>: This major new port and industrial zone project in Surabaya is currently under construction by a consortium comprising DP World and Indonesia’s Maspion Group. The signing of key agreements for the project was attended by Indonesian President Joko Widodo of Indonesia and Abu Dhabi Crown Prince Sheikh Mohammed bin Zayed Al Nahyan. Ross Ramsay of AsiaPac Partners together with David Wignall of Seaport Consultants Asia have acted as the main advisers to Maspion Group on this project since its inception in 2019. This role is ongoing with the project currently under construction.
        </p>

        <p>
        <img src="public/meeting.jpg" width="300" height="200" className="rounded mx-auto d-block" />
        </p>

        <p>
            <strong>Asia Pacific Carbon Abatement Projects</strong>: 
            Advising on an ongoing basis on the creation of carbon credits (including CERs) from a series of power and forestry projects in countries including PNG, Vietnam and Indonesia.
        </p>
        <p>
            <strong>Indonesian Government Port and Maritime Projects</strong>: Undertaking a series of major roles for Indonesia Ports Corporation (PT Pelindo) involving the development of port and maritime projects.
        </p>

        <p>
            <strong>PNG Ports Corporation Development of Port Moresby and Lae Ports</strong>: Advising the Ports Corporation of Papua New Guinea on the successful development of 2 new international ports at Motukea (Port Moresby) and Lae. The 2 new ports are now in commercial operation.
        </p>
        <p>
            <strong>SPREP and Asbestos Ban for PNG and Tonga</strong>: During 2023 prepared policy reports, draft Bills, draft Regulations and Draft Cabinet (or NEC) submissions relating to the implementation of a ban on asbestos containing material in PNG and Tonga. This project is funded by SPREP (Secretariat of the Pacific Regional Environment Programme).
        </p>
        <p>
            <strong>Asia Pacific Renewable Energy Projects</strong>: Acting in various capacities in relation to more than 30 different renewable energy projects across Australia and Asia including in relation to development issues, sale and investment transactions and the purchase of electricity and renewable energy credits. These projects have included wind, waste methane, hydro, solar and biomass projects.
        </p>
        <p>
            <strong>PNG Legislative Reform and SOE Restructure Projects</strong>: Advising the PNG Government and a number of PNG State Owned Enterprises on a range of significant legislative reform projects and restructures of SOEs. Most recently this has included advice to PNG DataCo and the PNG Office of State Negotiations.
        </p>
        <p>
            <strong>Australian Gold Projects</strong>: Advising on joint venture terms and commercial arrangements for a group of Australian gold projects.
        </p>
        <p>
            <strong>Innovating Energy</strong>: Advising Innovating Energy on a number of bioenergy projects including the Nowra Bioenergy Project, a carbon offset and renewable energy project involving capture of effluent from agricultural operations and generation of electricity. This project is supported by a significant grant from the Australian Government. 
        </p>
    </article>
{% endblock %}
